.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.posts {
  max-width: 728px;
  margin: 5rem auto;

  a {
    display: block;
    border-bottom: 1px solid var(--gray-700);
    padding-bottom: 2rem;

    & + a {
      margin-top: 2rem;
    }

    time {
      display: block;
      color: var(--gray-300);
      margin-bottom: 1rem;
      font-size: 1rem;
    }

    strong {
      display: block;
      font-size: 1.6rem;
      line-height: 2rem;
      margin-bottom: 0.25rem;
      transition: color 0.3s;

      &:hover {
        color: var(--yellow-500);
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.7rem;
      color: var(--gray-300);
    }

  }
}